.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #5E788E;
  max-width: 250px;
  width: 100%;
  height: calc(100vh - 60px);
  /* Assumes Header height is 60px */
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 60px;
  /* Assumes Header height is 60px */
  left: 250px;
  /* Assumes NotebookSidebar max-width is 250px */
  z-index: 97;
  overflow-y: auto;
}

.note {
  background-color: #497C99;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 16px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.note:hover {
  background-color: #3A626F;
}
